In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from pathlib import Path

import cppyy

root = Path('/home/jonathan/dev/pipo/temp')
dependencies = Path('/home/jonathan/dev/pipo/dependencies')

for d in ('contrib/notebook', 'src', 'include'):
    cppyy.add_include_path(str(root / d))

cppyy.cppdef('#include "trigger_helper.hpp"')

cppyy.add_library_path(str(root / 'build/contrib/notebook/debug'))
cppyy.load_library('trigger_helper')

wrapped = cppyy.gbl.wrapped
feed = cppyy.gbl.feed

In [3]:
config = '''\
entrypoint.instant_threshold <- 2;
entrypoint.threshold <- 3;
entrypoint.period <- 10;'''
trigger = wrapped.trigger(config)

In [6]:
trigger(0, feed.encode_update(feed.field.b0, 0))
trigger(1, feed.encode_update(feed.field.b0, 10))
trigger(2, feed.encode_update(feed.field.b0, 20))

False

In [7]:
'''
import dpkt
import datashader
import parquet

for timestamp, update in read_pcap():
    backtest.run(trigger, timestamp, update, lambda timestamp: return True)
'''

'\nimport dpkt\nimport datashader\nimport parquet\n\nfor timestamp, update in read_pcap():\n    backtest.run(trigger, timestamp, update, lambda timestamp: return True)\n'

In [14]:
import pandas as pd
import numpy as np

signal = np.random.normal(0, 0.3, size=n).cumsum() + 50
noise = lambda var, bias, n: np.random.normal(bias, var, n)
data = {c: signal + noise(1, 10*(np.random.random() - 0.5), n) for c in cols}

data = pd.read_csv('/home/jonathan/Téléchargements/quantquote_daily_sp500_83986/daily/table_altr.csv', header=None, parse_dates=['date'],
                       names=['date', 'foo', 'o', 'h', 'l', 'c', 'v'])
data = data.set_index('date')
data = pd.DataFrame({'value': data.c, 'value_returns': data.c.diff()})
data

               value  value_returns
date
1998-01-02   8.35560            NaN
1998-01-05   8.95948        0.60388
1998-01-06   8.53183       -0.42765
1998-01-07   7.85746       -0.67437
1998-01-08   7.68123       -0.17623
...              ...            ...
2013-08-05  36.04980       -0.19920
2013-08-06  36.05970        0.00990
2013-08-07  36.01000       -0.04970
2013-08-08  36.25000        0.24000
2013-08-09  36.01000       -0.24000

[3926 rows x 2 columns]

      19980102  0   7.93031   8.53183   7.81282    8.3556  8410363.51300001
0     19980105  0   8.43079   8.95948   8.31331   8.95948      1.592616e+07
1     19980106  0   9.10516   9.11926   8.43079   8.53183      9.414742e+06
2     19980107  0   8.34150   8.57647   7.66713   7.85746      1.655899e+07
3     19980108  0   7.87156   8.19582   7.60839   7.68123      1.857243e+07
4     19980109  0   7.75407   7.75407   6.96222   7.02097      3.319418e+07
...        ... ..       ...       ...       ...       ...               ...
3920  20130805  0  36.07970  36.25890  35.97010  36.04980      2.045475e+06
3921  20130806  0  36.00000  36.35850  35.88050  36.05970      2.869026e+06
3922  20130807  0  35.91040  36.17930  35.75100  36.01000      2.510542e+06
3923  20130808  0  36.34000  36.36000  35.97000  36.25000      2.626758e+06
3924  20130809  0  36.17000  36.28000  35.90000  36.01000      1.547038e+06

[3925 rows x 7 columns]

In [17]:
import datashader as ds
x_range = (df.iloc[0].ITime, df.iloc[-1].ITime)
y_range = (1.2*signal.min(), 1.2*signal.max())

import holoviews as hv
from holoviews.operation.datashader import datashade
hv.extension('bokeh')

NameError: name 'df' is not defined